.topHeader{
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    height: 200px;
}

.menuList{
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.menuList li {
    width: 100%;
    text-align: center;
    border:solid;
}

.mainBox {
    height: 100%;
    width: 25%;
    border: solid;
    text-align: center;
}

.mainList {
    display: flex;
}

.mainList div{
    margin:0px 20px 0px 0px;
}

.textArea {
    text-align: left;
}

.plofile {
    border: solid;
    display: flex;
}