<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{menubar}">
<head>
    <meta charset="UTF-8">
    <title>トップメニュー</title>
    <meta name="description" content="機能説明">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div layout:fragment="content">
        <h2 class="mt-5 text-center">メンバー一覧</h2>
        <div class="w-75 mx-auto text-end">
            <form method="post" th:action="@{menber/savemember}">
                <input class="btn btn-primary btn-lg" type="button" onClick="submit();" value="新規登録">
            </form>
        </div>
        <table th:unless="${#lists.isEmpty(list)}" class="w-75 table table-striped table-bordered mt-5 mx-auto text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">名前</th>
                    <th scope="col">性別</th>
                    <th scope="col">誕生日</th>
                    <th scope="col">電話番号</th>
                    <th scope="col">Eメール</th>
                    <th scope="col">国籍</th>
                    <th scope="col">更新</th>
                    <th scope="col">削除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="obj : ${list}">
                    <th scope="row" th:text="${obj.id}"></th>
                    <td th:text="${obj.name}"></td>
                    <td th:text="${obj.sex}"></td>
                    <td th:text="${obj.birthdate}"></td>
                    <td th:text="${obj.phonenumber}"></td>
                    <td th:text="${obj.email}"></td>
                    <td th:text="${obj.nationality}"></td>
                    <td>
                        <form method="post" th:action="@{menber/savemember}">
                            <input class="btn btn-outline-primary" type="button" onClick="submit();" value="更新">
                        </form>
                    </td>
                    <td>
                        <form method="post" th:action="@{menber/deletemember}">
                            <input class="btn btn-outline-danger" type="button" onClick="submit();" value="削除">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>