<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mainlayout}">
  <head>
      <meta charset="UTF-8">
      <title>takisa | Java | ホームページ</title>
      <meta name="description" content="Java Springを中心にbootstrap,angular,postgresqlで構成しているサイトを作成しています。勉強用">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div layout:fragment="content">
        <div class="card-group w-75 mx-auto">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">メンバー表</h5>
                    <p class="card-text">検索・登録・更新・削除をもった基本的なWebシステム</p>
                    <a class="btn btn-primary" th:href="@{/member}" role="button">Link</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">家計簿Webシステム（予定）</h5>
                    <p class="card-text">ログイン機能、セッション保持、計算、グラフ、分類分けをもったWebシステム</p>
                    <a class="btn btn-primary" href="#" role="button">未実装</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">やることリスト（予定）</h5>
                    <p class="card-text">ログイン機能、動的な要素の入れ替え、カレンダー機能をもったWebシステム</p>
                    <a class="btn btn-primary" href="#" role="button">未実装</a>
                </div>
            </div>
        </div>
        <hr class="w-75 mx-auto">
        <div class="card-group w-75 mx-auto">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">フロントエンドのデザイン集</h5>
                    <p class="card-text">デザインを学ぶための学習ページ</p>
                    <a class="btn btn-primary" href="#" role="button">未実装</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">未定</h5>
                    <p class="card-text">説明文</p>
                    <a class="btn btn-primary" href="#" role="button">未実装</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">未定</h5>
                    <p class="card-text">説明文</p>
                    <a class="btn btn-primary" href="#" role="button">未実装</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

